/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1898dc;
}

.mat-toolbar {
  background: white !important;
}

body app-card-game{
  position: inherit !important;
  overflow: auto;
  min-width: 550px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
