<div class="main-div" [@moveInLeft]="state">
  <app-block-ui [isLoading]="!player"></app-block-ui>
  <div fxLayout="column wrap" fxLayoutAlign="center stretch">
    <app-game-header *ngIf="player" fxFlex="100%" fxFlex.sm="100%" [coins]="player.coins" [score]="score">
    </app-game-header>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="cards-body">
      <div id="left" fxFlex="33%" fxFlex.xs="100%" fxFlex.md="100%" fxFlex.lg="33%" fxFlex.sm="100%"
        fxLayoutAlign="center center">
        <mat-card *ngIf="playerHero" class="player-card mat-elevation-z24">
          <app-loading-card *ngIf="showLoading"></app-loading-card>
          <div class="card-wrapper" *ngIf="!showLoading">
            <mat-card-header>
              <mat-card-title>{{ playerHero.name }}</mat-card-title>
              <mat-card-subtitle>{{
          playerHero.biography["full-name"]
        }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="example-header-image" src="{{ playerHero.image.url }}"
              alt="Photo of {{ playerHero.biography['full-name'] }}" />
            <mat-card-content>
              <div class="wrapper-card-info-header">
                <div class="wrapper-card-info-header-powerstatus" *ngIf="showPowerStatsCard">
                  <p>Pick a skill:</p>
                  <button class="button-about-card" matTooltip="About Gero" (click)="showAboutCard()">
                    <svg-icon src="assets/icons/about-card.svg" class="icon-about-card"></svg-icon>
                  </button>
                </div>
                <div class="wrapper-card-info-header-about" *ngIf="!showPowerStatsCard">
                  <a (click)="showPowerStatus()">Back to skills</a>
                </div>
              </div>
              <div class="wrapper-card-info-powerstats" *ngIf="showPowerStatsCard">
                <div class="column-1">
                  <button appPreventDoubleClick (oneClick)="checkIntelligence()" mat-button>
                    <svg-icon src="assets/icons/intelligence.svg" class="icon-hero"></svg-icon>
                    INTELLIGENCE: {{ playerHero.powerstats.intelligence }}
                  </button>
                  <button appPreventDoubleClick (oneClick)="checkStrength()" mat-button>
                    <svg-icon src="assets/icons/strength.svg" class="icon-hero"></svg-icon>
                    STRENGTH: {{ playerHero.powerstats.strength }}
                  </button>
                  <button appPreventDoubleClick (oneClick)="checkSpeed()" mat-button>
                    <svg-icon src="assets/icons/speed.svg" class="icon-hero"></svg-icon>
                    SPEED: {{ playerHero.powerstats.speed }}
                  </button>
                </div>
                <div class="column-2">
                  <button appPreventDoubleClick (oneClick)="checkDurability()" mat-button>
                    <svg-icon src="assets/icons/durability.svg" class="icon-hero"></svg-icon>
                    DURABILITY: {{ playerHero.powerstats.durability }}
                  </button>
                  <button appPreventDoubleClick (oneClick)="checkPower()" mat-button>
                    <svg-icon src="assets/icons/power.svg" class="icon-hero"></svg-icon>
                    POWER: {{ playerHero.powerstats.power }}
                  </button>
                  <button appPreventDoubleClick (oneClick)="checkCombat()" mat-button>
                    <svg-icon src="assets/icons/combat.svg" class="icon-hero"></svg-icon>
                    COMBAT: {{ playerHero.powerstats.combat }}
                  </button>
                </div>
              </div>
              <div class="wrapper-card-info-about" *ngIf="!showPowerStatsCard">
                <p> Publisher: {{ (playerHero.biography.publisher ? playerHero.biography.publisher: "Not Found") }}
                </p>
                <p> Alter ego: {{ playerHero.biography["alter-egos"] }} </p>
                <p> First Appearence: {{ playerHero.biography["first-appearence"] }} </p>
                <p> Place of birth: {{ playerHero.biography["place-of-birth"]}} </p>
                <p> Base: {{ playerHero.work.base}} </p>
                <p> Occupation: {{ playerHero.work.occupation}} </p>
              </div>
            </mat-card-content>
            <mat-card-actions> </mat-card-actions>
          </div>
        </mat-card>
      </div>
      <div id="center" fxFlex="33%" fxFlex.xs="100%" fxFlex.md="100%" fxFlex.lg="30%" fxFlex.sm="100%"
        fxLayoutAlign="center center">
        <div div fxLayout="column" fxLayoutAlign="space-around center">
          <div class="result-box">
            <img *ngIf="result != ''" fxLayoutAlign="space-around center" src="../../assets/{{result}}.png">
            <!-- <h1  fxLayoutAlign="space-around center">{{ result|uppercase }}</h1> -->
          </div>

          <mat-card class="options-card mat-elevation-z24">
            <mat-card-header>
              <mat-card-title style="margin-left: 120px;">OPTIONS</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <button (click)="changeCard()" mat-button>CHANGE CARDS - 3
                <svg-icon src="assets/icons/coin.svg" class="icon-coin"></svg-icon>
              </button>
              <button (click)="showRandomSkill()" mat-button [disabled]="randomSkill">
                REVEAL AN ENEMY RANDOM SKILL - 1
                <svg-icon src="assets/icons/coin.svg" class="icon-coin"></svg-icon>
              </button>
              <button mat-button [matMenuTriggerFor]="menu">
                REVEAL A SKILL - 3
                <svg-icon src="assets/icons/coin.svg" class="icon-coin"></svg-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="showSkill('intelligence')" mat-menu-item *ngIf="IntelligenceOption">
                  <svg-icon src="assets/icons/intelligence.svg" class="icon-hero"></svg-icon>
                  INTELLIGENCE
                </button>
                <button (click)="showSkill('strength')" mat-menu-item *ngIf="strengthOption">
                  <svg-icon src="assets/icons/strength.svg" class="icon-hero"></svg-icon>
                  STRENGTH
                </button>
                <button (click)="showSkill('speed')" mat-menu-item *ngIf="speedOption">
                  <svg-icon src="assets/icons/speed.svg" class="icon-hero"></svg-icon>
                  SPEED
                </button>
                <button (click)="showSkill('durability')" mat-menu-item *ngIf="durabilityOption">
                  <svg-icon src="assets/icons/durability.svg" class="icon-hero"></svg-icon>
                  DURABILITY
                </button>
                <button (click)="showSkill('power')" mat-menu-item *ngIf="powerOption">
                  <svg-icon src="assets/icons/power.svg" class="icon-hero"></svg-icon>
                  POWER
                </button>
                <button (click)="showSkill('combat')" mat-menu-item *ngIf="combatOption">
                  <svg-icon src="assets/icons/combat.svg" class="icon-hero"></svg-icon>
                  COMBAT
                </button>
              </mat-menu>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div id="right" fxFlex="33%" fxFlex.xs="100%" fxFlex.md="100%" fxFlex.lg="33%" fxFlex.sm="100%"
        fxLayoutAlign="center center">
        <mat-card *ngIf="enemyHero" class="enemy-card mat-elevation-z24">
          <app-loading-card *ngIf="!showEnemy"></app-loading-card>
          <mat-card-header *ngIf="showEnemy">
            <mat-card-title>{{ enemyHero.name }}</mat-card-title>
            <mat-card-subtitle>{{
        enemyHero.biography["full-name"]
      }}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="showEnemy" mat-card-image class="example-header-image" src="{{ enemyHero.image.url }}"
            alt="Photo of {{ enemyHero.biography['full-name'] }}" />
          <mat-card-content>
            <p></p>
            <div class="column-1">
              <button *ngIf="showIntelligence" mat-button>
                <svg-icon src="assets/icons/intelligence.svg" class="icon-hero"></svg-icon>
                INTELLIGENCE: {{ enemyHero.powerstats.intelligence }}
              </button>
              <button *ngIf="showStrength" mat-button>
                <svg-icon src="assets/icons/strength.svg" class="icon-hero"></svg-icon>
                STRENGTH: {{ enemyHero.powerstats.strength }}
              </button>
              <button *ngIf="showSpeed" mat-button>
                <svg-icon src="assets/icons/speed.svg" class="icon-hero"></svg-icon>
                SPEED: {{ enemyHero.powerstats.speed }}
              </button>
            </div>
            <div class="column-2">
              <button *ngIf="showDurability" mat-button>
                <svg-icon src="assets/icons/durability.svg" class="icon-hero"></svg-icon>
                DURABILITY: {{ enemyHero.powerstats.durability }}
              </button>
              <button *ngIf="showPower" mat-button>
                <svg-icon src="assets/icons/power.svg" class="icon-hero"></svg-icon>
                POWER: {{ enemyHero.powerstats.power }}
              </button>
              <button *ngIf="showCombat" mat-button>
                <svg-icon src="assets/icons/combat.svg" class="icon-hero"></svg-icon>
                COMBAT: {{ enemyHero.powerstats.combat }}
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
