
<app-game-header *ngIf="player" [coins]="player.coins" [score]="score"></app-game-header>
<div class="main-div" [@moveInLeft]="state">
  <mat-card *ngIf="playerHero" class="player-card">
    <app-loading-card *ngIf="showLoading"></app-loading-card>
    <div class="card-wrapper" *ngIf="!showLoading">
      <mat-card-header>
        <mat-card-title>{{ playerHero.name }}</mat-card-title>
        <mat-card-subtitle>{{
          playerHero.biography["full-name"]
        }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="example-header-image" src="{{ playerHero.image.url }}"
        alt="Photo of {{ playerHero.biography['full-name'] }}" />
      <mat-card-content>
        <div class="wrapper-card-info-header">
          <div class="wrapper-card-info-header-powerstatus" *ngIf="showPowerStatsCard">
            <p>Selecione uma Habilidade:</p>
            <button class="button-about-card" matTooltip="Sobre o Heroi" (click)="showAboutCard()">
              <svg-icon src="assets/icons/about-card.svg" class="icon-about-card"></svg-icon>
            </button>
          </div>
          <div class="wrapper-card-info-header-about" *ngIf="!showPowerStatsCard">
            <a (click)="showPowerStatus()">Voltar para os status do personagem.</a>
          </div>
        </div>
        <div class="wrapper-card-info-powerstats" *ngIf="showPowerStatsCard">
          <div class="column-1">
            <button appPreventDoubleClick (oneClick)="checkIntelligence()" mat-button>
              <svg-icon src="assets/icons/intelligence.svg" class="icon-hero"></svg-icon>
              INTELIGÊNCIA: {{ playerHero.powerstats.intelligence }}
            </button>
            <button appPreventDoubleClick (oneClick)="checkStrength()" mat-button>
              <svg-icon src="assets/icons/strength.svg" class="icon-hero"></svg-icon>
              FORÇA: {{ playerHero.powerstats.strength }}
            </button>
            <button appPreventDoubleClick (oneClick)="checkSpeed()" mat-button>
              <svg-icon src="assets/icons/speed.svg" class="icon-hero"></svg-icon>
              VELOCIDADE: {{ playerHero.powerstats.speed }}
            </button>
          </div>
          <div class="column-2">
            <button appPreventDoubleClick (oneClick)="checkDurability()" mat-button>
              <svg-icon src="assets/icons/durability.svg" class="icon-hero"></svg-icon>
              RESISTÊNCIA: {{ playerHero.powerstats.durability }}
            </button>
            <button appPreventDoubleClick (oneClick)="checkPower()" mat-button>
              <svg-icon src="assets/icons/power.svg" class="icon-hero"></svg-icon>
              PODER: {{ playerHero.powerstats.power }}
            </button>
            <button appPreventDoubleClick (oneClick)="checkCombat()" mat-button>
              <svg-icon src="assets/icons/combat.svg" class="icon-hero"></svg-icon>
              COMBATIVIDADE: {{ playerHero.powerstats.combat }}
            </button>
          </div>
        </div>
        <div class="wrapper-card-info-about" *ngIf="!showPowerStatsCard">
          <p> Editora: {{ (playerHero.biography.publisher ? playerHero.biography.publisher: "Não encontrado") }} </p>
          <p> Alter ego: {{ playerHero.biography["alter-egos"] }} </p>
          <p> Primeira aparecição: {{ playerHero.biography["first-appearence"] }} </p>
          <p> Local de nascimento: {{ playerHero.biography["place-of-birth"]}} </p>
          <p> Base: {{ playerHero.work.base}} </p>
          <p> Profissão: {{ playerHero.work.occupation}} </p>
        </div>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </div>
  </mat-card>

  <div class="result-box">
    <h1>{{ result }}</h1>
  </div>

  <mat-card class="options-card">
    <mat-card-header>
      <mat-card-title style="margin-left: 130px;">OPÇÕES</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button (click)="changeCard()" mat-button>TROCAR DE CARTA - 3
        <svg-icon src="assets/icons/coin.svg" class="icon-coin"></svg-icon>
      </button>
      <button (click)="showRandomSkill()" mat-button [disabled]="randomSkill">
        DESCOBRIR UMA HABILIDADE ALEATÓRIA - 1
        <svg-icon src="assets/icons/coin.svg" class="icon-coin"></svg-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu">
        DESCOBRIR UMA HABILIDADE - 3
        <svg-icon src="assets/icons/coin.svg" class="icon-coin"></svg-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="showSkill('intelligence')" mat-menu-item *ngIf="IntelligenceOption">
          <svg-icon src="assets/icons/intelligence.svg" class="icon-hero"></svg-icon>
          INTELIGÊNCIA
        </button>
        <button (click)="showSkill('strength')" mat-menu-item *ngIf="strengthOption">
          <svg-icon src="assets/icons/strength.svg" class="icon-hero"></svg-icon>
          FORÇA
        </button>
        <button (click)="showSkill('speed')" mat-menu-item *ngIf="speedOption">
          <svg-icon src="assets/icons/speed.svg" class="icon-hero"></svg-icon>
          VELOCIDADE
        </button>
        <button (click)="showSkill('durability')" mat-menu-item *ngIf="durabilityOption">
          <svg-icon src="assets/icons/durability.svg" class="icon-hero"></svg-icon>
          RESISTÊNCIA
        </button>
        <button (click)="showSkill('power')" mat-menu-item *ngIf="powerOption">
          <svg-icon src="assets/icons/power.svg" class="icon-hero"></svg-icon>
          PODER
        </button>
        <button (click)="showSkill('combat')" mat-menu-item *ngIf="combatOption">
          <svg-icon src="assets/icons/combat.svg" class="icon-hero"></svg-icon>
          COMBATIVIDADE
        </button>
      </mat-menu>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="enemyHero" class="enemy-card">
    <mat-card-header *ngIf="showEnemy">
      <mat-card-title>{{ enemyHero.name }}</mat-card-title>
      <mat-card-subtitle>{{
        enemyHero.biography["full-name"]
      }}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="showEnemy" mat-card-image class="example-header-image" src="{{ enemyHero.image.url }}"
      alt="Photo of {{ enemyHero.biography['full-name'] }}" />
    <mat-card-content>
      <p></p>
      <div class="column-1">
        <button *ngIf="showIntelligence" mat-button>
          <svg-icon src="assets/icons/intelligence.svg" class="icon-hero"></svg-icon>
          INTELIGÊNCIA: {{ enemyHero.powerstats.intelligence }}
        </button>
        <button *ngIf="showStrength" mat-button>
          <svg-icon src="assets/icons/strength.svg" class="icon-hero"></svg-icon>
          FORÇA: {{ enemyHero.powerstats.strength }}
        </button>
        <button *ngIf="showSpeed" mat-button>
          <svg-icon src="assets/icons/speed.svg" class="icon-hero"></svg-icon>
          VELOCIDADE: {{ enemyHero.powerstats.speed }}
        </button>
      </div>
      <div class="column-2">
        <button *ngIf="showDurability" mat-button>
          <svg-icon src="assets/icons/durability.svg" class="icon-hero"></svg-icon>
          RESISTÊNCIA: {{ enemyHero.powerstats.durability }}
        </button>
        <button *ngIf="showPower" mat-button>
          <svg-icon src="assets/icons/power.svg" class="icon-hero"></svg-icon>
          PODER: {{ enemyHero.powerstats.power }}
        </button>
        <button *ngIf="showCombat" mat-button>
          <svg-icon src="assets/icons/combat.svg" class="icon-hero"></svg-icon>
          COMBATIVIDADE: {{ enemyHero.powerstats.combat }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
