.banner-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display:block;
}

.banner {
  width: 500px;
}

@media only screen and (max-width: 900px) {
  .banner {
    width: 300px;
  }
  .user-info {
    margin-top: -60px !important;
  }
}



.user-info {
  margin-top: -110px;
}

.record {
  text-align: center;
}

.try-again-button {
  width: 100%;
  height: 60px;
  background-color: #1898dc;
  color: white;
  font-size: 20px;
}
