<div fxLayout="column wrap" fxLayoutAlign="center stretch"  class="body">
  <div class="banner">
    <img src="../../assets/game-over.gif" class="banner-image">
  </div>
  <div mat-dialog-content class="user-info">
    <h2> Usuário: {{data.player.name}}</h2>
    <h2> Pontuação: {{data.score}} </h2>
  </div>
  <div class="record" *ngIf="data.score > data.player.maxScore">
    <h1>NOVO RECORDE</h1>
  </div>
  <div mat-dialog-actions>
    <button class="try-again-button" mat-button [mat-dialog-close]>JOGAR NOVAMENTE</button>
  </div>
</div>
