
::ng-deep .mat-tab-body-content {
  max-height: 450px !important;
  height: 430px !important;
  width: 500px;
}


@media only screen and (max-width: 900px) {
  ::ng-deep .mat-tab-body-content {
    max-height: 450px !important;
    height: 260px !important;
    width: auto;
  }
}
