<div class="container" id="container">
  <div class="form-container sign-up-container">
    <div class="form">
      <h1>Create an account</h1>
      <div class="social-container">
        <button (click)="googleLogin()">
          <svg-icon src="assets/icons/google-icon.svg" class="icon-hero"></svg-icon>
          <span style="margin-left: 12px;">SignUp with google</span>
        </button>
      </div>
      <span>or</span>
      <input matInput type="text" [(ngModel)]="name" placeholder="Name" />
      <input type="email" [(ngModel)]="email" placeholder="Email" />
      <input type="password" [(ngModel)]="password" placeholder="Password" />
      <span style="color: red;" [@fallIn]='state'> {{ errorMessage }}</span>
      <button (click)="register()">Sign Up</button>
    </div>
  </div>
  <div class="form-container sign-in-container">
    <div class="form" action="#">
      <h1>Log in</h1>
      <div class="social-container">
        <button (click)="googleLogin()">
          <svg-icon src="assets/icons/google-icon.svg" class="icon-hero"></svg-icon>
          <span style="margin-left: 13px;">Log in with google</span>
        </button>
      </div>
      <span>ou</span>
      <input type="email" [(ngModel)]="email" placeholder="Email" />
      <input type="password" [(ngModel)]="password" placeholder="Password" />
      <span style="color: red;" [@fallIn]='state'> {{ errorMessage }}</span>
      <button (click)="validate()">Log in</button>
      <a id="forget-password" (click)="showForgotPass()">Forgot your password?</a>
      <div *ngIf="showRecover">
        <input type="email" [(ngModel)]="emailRecovery" placeholder="Email" />
        <button (click)="emailRecover()">Send e-mail</button>
      </div>
    </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Wellcome back!</h1>
        <p>To keep connected log in</p>
        <button class="ghost" (click)="clearBox()" id="signIn">Log in</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello there!</h1>
        <p>You're few steps away to begin your journey</p>
        <button class="ghost" (click)="clearBox()" id="signUp">Sign up</button>
      </div>
    </div>
  </div>
</div>
