<div class="container" id="container">
  <div class="form-container sign-up-container">
    <div class="form">
      <h1>Criar Conta</h1>
      <div class="social-container">
        <button (click)="googleLogin()">
          <svg-icon src="assets/icons/google-icon.svg" class="icon-hero"></svg-icon>
          <span style="margin-left: 13px;">Criar com Google</span>
        </button>
      </div>
      <span>ou</span>
      <input matInput type="text" [(ngModel)]="name" placeholder="Nome" />
      <input type="email" [(ngModel)]="email" placeholder="Email" />
      <input type="password" [(ngModel)]="password" placeholder="Senha" />
      <span style="color: red;" [@fallIn]='state'> {{ errorMessage }}</span>
      <button (click)="register()">Registrar</button>
    </div>
  </div>
  <div class="form-container sign-in-container">
    <div class="form" action="#">
      <h1>Entrar</h1>
      <div class="social-container">
        <button (click)="googleLogin()">
          <svg-icon src="assets/icons/google-icon.svg" class="icon-hero"></svg-icon>
          <span style="margin-left: 13px;">Entrar com Google</span>
        </button>
      </div>
      <span>ou</span>
      <input type="email" [(ngModel)]="email" placeholder="Email" />
      <input type="password" [(ngModel)]="password" placeholder="Senha" />
      <span style="color: red;" [@fallIn]='state'> {{ errorMessage }}</span>
      <button (click)="validate()">Entrar</button>
      <a (click)="showForgotPass()">Esqueceu sua senha?</a>
      <div *ngIf="showRecover">
        <input type="email" [(ngModel)]="emailRecovery" placeholder="Email" />
        <button (click)="emailRecover()">Enviar senha</button>
      </div>
    </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bem-vindo de volta!</h1>
        <p>Para se manter conectado informe sua conta</p>
        <button class="ghost" (click)="clearBox()" id="signIn">Entrar</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Olá!</h1>
        <p>Entre com suas informações pessoais para que a jornada comece</p>
        <button class="ghost" (click)="clearBox()" id="signUp">Registrar</button>
      </div>
    </div>
  </div>
</div>
